@model MossadAgenseMvc.Models.Dashboard

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentActiveNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentActiveNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetDaedNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetDaedNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsActiveNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsActiveNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationAgentsToTargets)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
